<section class="about" id="about">
  <div class="about__container">
    <div class="about__content">
      <h2 class="about__title">
        Швидкий та дешевий 3D друк у Києві - 3DP.COM.UA
      </h2>

      <div class="about__text">
        <p class="about__paragraph">
          3DP.COM.UA робить 3д друк доступним для всіх, хто цінує якість. Ми використовуємо професійне 
          обладнання для роботи з різними матеріалами. Це дає змогу створювати як маленькі деталі, так і 
          великі моделі. Ми приділяємо увагу кожному етапу виробничого процесу, щоб запропонувати 
          найкращий результат.
        </p>

        <p class="about__paragraph">
          Технології FDM та SLA дозволяють вирішувати широкий спектр завдань. FDM підходить для міцних 
          функціональних деталей різного розміру. MSLA забезпечує високу деталізацію для мініатюр та 
          складних фігурок при виконанні 3д друку на замовлення. Ми пропонуємо одразу три типи 
          технологій що дозволяє створювати проєкти будь-якої складності.
        </p>
      </div>

      <h3 class="about__title">
        Принтери, якими ми друкуємо
      </h3>

      <div class="about__text">
        <p class="about__paragraph">
          Обладнання відіграє вирішальну роль у процесі якісного 3д друку. В Києві наша студія 
          використовує перевірені часом професійні пристрої різних типів. Ми обираємо обладнання 
          за показниками точності, надійності та швидкості роботи. Кожен принтер проходить 
          регулярне технічне обслуговування для забезпечення стабільних результатів.
        </p>

        <p class="about__paragraph">
          Різноманітність принтерів дозволяє нам виконувати замовлення будь-якого рівня. Ми можемо 
          швидко переналаштовуватись залежно від потреб проєкту. Наша технічна база допомагає 
          працювати з широким спектром матеріалів. Ми виготовляємо як міцні технічні деталі, так і 
          друкуємо на 3д принтері колекційні фігурки.
        </p>
      </div>

      <div class="about__text">
        <p class="about__paragraph">
          У сучасному світі 3D друк став неодмінною частиною багатьох галузей — від архітектури до 
          медицини та автомобілебудування. З розширенням технологій 3D принтерів з'явилося безліч 
          компаній 3D друку, готових запропонувати свої послуги. Одна з них - GB-3D, ваш надійний 
          партнер у світі 3D друку.
        </p>
      </div>

      <h2 class="about__title about__title--light-green about__title--mb-0">
        Bambu Lab P1S та Bambu Lab X1 Carbon
      </h2>

      <ng-container *ngIf="isExpanded">
        <h2 class="about__title">
          Швидкий та дешевий 3D друк у Києві - 3DP.COM.UA
        </h2>

        <div class="about__text">
          <p class="about__paragraph">
            3DP.COM.UA робить 3д друк доступним для всіх, хто цінує якість. Ми використовуємо професійне 
            обладнання для роботи з різними матеріалами. Це дає змогу створювати як маленькі деталі, так і 
            великі моделі. Ми приділяємо увагу кожному етапу виробничого процесу, щоб запропонувати 
            найкращий результат.
          </p>

          <p class="about__paragraph">
            Технології FDM та SLA дозволяють вирішувати широкий спектр завдань. FDM підходить для міцних 
            функціональних деталей різного розміру. MSLA забезпечує високу деталізацію для мініатюр та 
            складних фігурок при виконанні 3д друку на замовлення. Ми пропонуємо одразу три типи 
            технологій що дозволяє створювати проєкти будь-якої складності.
          </p>
        </div>

        <h3 class="about__title">
          Принтери, якими ми друкуємо
        </h3>

        <div class="about__text">
          <p class="about__paragraph">
            Обладнання відіграє вирішальну роль у процесі якісного 3д друку. В Києві наша студія 
            використовує перевірені часом професійні пристрої різних типів. Ми обираємо обладнання 
            за показниками точності, надійності та швидкості роботи. Кожен принтер проходить 
            регулярне технічне обслуговування для забезпечення стабільних результатів.
          </p>

          <p class="about__paragraph">
            Різноманітність принтерів дозволяє нам виконувати замовлення будь-якого рівня. Ми можемо 
            швидко переналаштовуватись залежно від потреб проєкту. Наша технічна база допомагає 
            працювати з широким спектром матеріалів. Ми виготовляємо як міцні технічні деталі, так і 
            друкуємо на 3д принтері колекційні фігурки.
          </p>
        </div>

        <div class="about__text">
          <p class="about__paragraph">
            У сучасному світі 3D друк став неодмінною частиною багатьох галузей — від архітектури до 
            медицини та автомобілебудування. З розширенням технологій 3D принтерів з'явилося безліч 
            компаній 3D друку, готових запропонувати свої послуги. Одна з них - GB-3D, ваш надійний 
            партнер у світі 3D друку.
          </p>
        </div>
      </ng-container>
      

      <div class="about__actions">
        <button class="about__toggle toggle-btn" type="button" (click)="isExpanded = !isExpanded">
          {{ isExpanded ? 'Згорнути текст' : 'Показати весь текст' }}
        </button>
      </div>
    </div>
  </div>
</section>