.gallery {

  &__container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 56px;
    color: var(--white);
    font-family: Tektur;
    font-size: 40px;
    font-weight: 400;
  }
}

.gallery {
  width: 100%;
  max-width: 1200px;

  * {
    gap: 20px;
  }

  &__item {
    border-radius: 16px;
    transition: .2s ease-out;
    cursor: pointer;
    overflow: hidden;
    transition: .2s ease-in;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    
    &:hover {
      transition: .2s ease-in;
      box-shadow: 0 12px 40px rgba(255, 255, 255, 0.1);
    }
  }
}

@media (max-width: 1200px) {
  .gallery {
    margin-top: 80px;

    &__container {
      max-width: 100vw;
      padding: 0 24px;
      margin: unset;
    }
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {

}

@media (max-width: 480px) {

}