<section class="gallery">
  <div class="gallery__container">
    <h2 class="gallery__title">
      Ми в Instagram
    </h2>

    <div class="gallery__grid grid">
      <div class="grid__item grid__item--first"></div>
      <div class="grid__item grid__item--second"></div>
      <div class="grid__item grid__item--third"></div>
      <div class="grid__item grid__item--fourth"></div>
      <div class="grid__item grid__item--fifth"></div>
    </div>
    <div>------------------------------</div>
    <div></div>
    <div></div>
    <div class="sk-instagram-feed w-100 h-100" data-embed-id="25625095"></div>
    <div></div>
    <div></div>
    <div>------------------------------</div>
  </div>
</section>