:host {
  position: relative;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 8px 0 8px 0;
  background: rgba(12, 16, 14, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 2px 20px rgba(12, 16, 14, 0.3);

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 48px;
    margin: 0 auto;
  }

  &__nav {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  &__toggle {
    display: none;
  }
}


.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;

  &__icon {
    width: 40px;
    height: 46px;
    background: url('../../../assets/images/3dp-minimal-logo.png') no-repeat center center;
    background-size: contain;
  }

  &__text {
    font-family: 'Readex Pro', sans-serif;
    color: var(--pure-white);
    font-size: 36px;
    letter-spacing: 2px;
  }
}

.nav {

  &__list {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 48px;
  }

  &__link,
  &__phone {
    color: var(--text-light-green);
    text-decoration: none;
    font-size: 16px;
    transition: all 0.3s ease;
    
    &:hover {
      color: var(--main-green);
      transition: all 0.3s ease;
    }
  }

  &__phone {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: 16px;
    white-space: nowrap;
  }

  &__phone-icon {
    width: 24px;
    height: 32px;
    background: url('../../../assets/images/phone.svg') no-repeat center center;
    background-size: contain;
    margin-right: 8px;
  }
}

@media (max-width: 1200px) {
  .header {
    &__content {
      width: calc(100% - 48px);
      padding: 0 24px;
    }
  }
}

@media (max-width: 1024px) {
  .nav {
    
    &__list {
      gap: 24px;
    }

    &__phone {
      margin-right: 0;
    }
  }

  .button {
    display: none;
  }
}

@media (max-width: 768px) {
  .header {
    padding-top: 24px;

    &__content {
      padding: 0;
    }
  }

  .nav {
    display: none;
  }

  .logo {
    gap: 10px;

    &__text {
      font-size: 26px;
    }

    &__icon {
      width: 26px;
      height: 32px;
    }
  }
}

@media (max-width: 480px) {

}