<header class="header header--scrolled">
  <div class="header__content">
    <div class="header__logo">
      <div class="logo">
        <div class="logo__icon"></div>
        <span class="logo__text">3DP</span>
      </div>
    </div>
    
    <nav class="header__nav nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#advantages" class="nav__link" (click)="scrollTo('advantages')">Послуги</a>
        </li>
        <li class="nav__item">
          <a href="#process" class="nav__link" (click)="scrollTo('process')">Переваги</a>
        </li>
        <li class="nav__item">
          <a href="#materials" class="nav__link" (click)="scrollTo('materials')">Тарифи</a>
        </li>
        <li class="nav__item">
          <a href="#gallery" class="nav__link" (click)="scrollTo('gallery')">Галерея</a>
        </li>
      </ul>
    </nav>
    
    <a href="tel:+380998462892" class="nav__phone">
      <div class="nav__phone-icon"></div>
      +380 99 846 28 92
    </a>

    <button class="button button--outlined" (click)="openModal()">
      Замовити друк
    </button>
  </div>
</header>