.advantages {
  display: flex;
  flex-direction: column;
  gap: 96px;
  max-width: 1200px;
  width: 1200px;
  padding: 40px 0 140px;
  margin: 0 auto;

  &__title {
    margin: 0 0 40px 0;
    color: var(--main-green);
    font-family: Tektur;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.card {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 24px;
  padding: 32px;
  transition: all .2s ease;
  cursor: pointer;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 16px;
    padding: 1px;
    background: linear-gradient(180deg, #26342D 0%, #728C80 100%);
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: xor;
    -webkit-mask-composite: xor;
    transition: all .2s ease;
  }

  &:hover {
    box-shadow: 0 8px 20px rgba(0, 255, 136, 0.1);

    &::before {
      background: linear-gradient(180deg, #2CC295 0%, #00cc66 100%);
    }
  }

  &__image-container {
    position: relative;
    height: 72px;
    width: fit-content;
    margin-bottom: 32px;
    background: transparent;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
      filter: drop-shadow(0 4px 12px #31653E);
    }
  }

  &__title {
    margin-bottom: 16px;
    font-family: Tektur;
    font-size: 24px;
    font-weight: 400;
  }

  &__description {
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Tektur;
    font-size: 18px;
    font-weight: 400;
  }

  &__description,
  &__title {
    color: var(--text-light-green);
  }
}

.filled {
  position: relative;
  padding: 72px 72px 92px 72px;
  border-radius: 32px;
  background: #00DF82;
  overflow: hidden;

  &__info {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: fit-content;
  }

  &__title {
    margin: 0;
    font-family: Tektur;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__description {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__description,
  &__title {
    color: var(--black);
  }

  &__image {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    object-fit: contain;
    user-select: none;
    pointer-events: none;
    
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 172px;
      height: 100%;
      width: 420px;
      bottom: 0;
      background: linear-gradient(90deg, #00DF82 0%, rgba(0, 223, 130, 0) 100%);
    }

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

@media (max-width: 1200px) {
  .advantages {
    max-width: 100vw;
    padding: 120px 24px 140px 24px;
    margin: unset;
  }
}

@media (max-width: 1024px) {
  
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 24px;
  }
  
  .filled {
    padding: 64px;

    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 18px;
    }
  }
}

@media (max-width: 480px) {
  .card {

    &__title {
      font-size: 20px;
    }

    &__description {
      font-size: 16px;
    }
  }

  .filled {
    padding: 32px 24px 284px 24px;


    &__image {
      left: 0;
      right: unset;
      height: 230px;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        bottom: 0;
        background: linear-gradient(0deg, rgba(0, 223, 130, 0) 0%, #00DF82 100%);
      }
      
      img {
        width: 100%;
        height: unset;
      }
    }
  }
}