<section class="advantages" id="advantages">
  <div class="advantages__container">
    <h2 class="advantages__title">
      Чому ми?
    </h2>

    <div class="advantages__grid grid">
      <div class="grid__item card">
        <div class="card__image-container">
          <img src="assets/images/advantages/adv_1.webp" alt="">
        </div>
        <h3 class="card__title">Швидко</h3>
        <p class="card__description">
          Виконуємо замовлення за лічені години
        </p>
      </div>

      <div class="grid__item card">
        <div class="card__image-container">
          <img src="assets/images/advantages/adv_2.webp" alt="">
        </div>
        <h3 class="card__title">Якісно</h3>
        <p class="card__description">
          Забезпечуємо високу точність друку
        </p>
      </div>

      <div class="grid__item card">
        <div class="card__image-container" n>
          <img src="assets/images/advantages/adv_3.webp" alt="">
        </div>
        <h3 class="card__title">Надійно</h3>
        <p class="card__description">
          Підтримка клієнтів 24/7 для вас на зв'язку
        </p>
      </div>
    </div>
  </div>
  <div class="advantages__filled filled">
    <div class="filled__info">
      <h3 class="filled__title">
        У нас працюе 20<br>
        3D-принтерів
      </h3>
      <p class="filled__description">
        Від подачі замовлення до готового виробу - 6 годин.
      </p>
      <button class="cta-btn" type="button">
        Замовити друк
      </button>
    </div>
    <div class="filled__image">
      <img src="assets/images/advantages/filled_printers.webp" alt="">
    </div>
  </div>
</section>