<div class="materials">
  <div class="materials__top">
    <h2 class="materials__title">
      З чого ми друкуємо
    </h2>
    <button class="button button--filled button--big" (click)="openModal()">
      Замовити друк
    </button>
  </div>
  <div class="materials__grid grid">
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/green.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Стандартні матеріали
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 2,5 грн</span> / грам
        </div>
      </div>
    </div>
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/blue.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Інженерні пластики
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 4,5 грн</span> / грам
        </div>
      </div>
    </div>
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/orange.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Гнучкі матеріали
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 6,5 грн</span> / грам
        </div>
      </div>
    </div>
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/green.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Стандартні матеріали
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 2,5 грн</span> / грам
        </div>
      </div>
    </div>
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/blue.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Інженерні пластики
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 4,5 грн</span> / грам
        </div>
      </div>
    </div>
    <div class="grid__item card">
      <div class="card__image-container">
        <img src="assets/images/materials/orange.png" alt="">
      </div>
      <div class="card__info">
        <div class="card__small-title">
          PBA, copet, petg, ABS
        </div>
        <div class="card__title">
          Гнучкі матеріали
        </div>
        <div class="card__description">
          Опис матеріалів що тут використовують i для чого вони потрібні
        </div>
        <div class="card__price">
          <span class="card__price card__price--green">від 6,5 грн</span> / грам
        </div>
      </div>
    </div>
  </div>
</div>