.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: var(--black);
  overflow: hidden;

  &__content {
    flex: 1;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
  }

  &__footer {
    width: 100%;
    margin-top: auto;
    background-color: var(--dark-gray);
  }
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__image {
    width: 84px;
    height: 120px;
    margin-bottom: 48px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: left;
      filter: drop-shadow(0 4px 12px #31653E);
    }
  }

  &__info {
    width: 274px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 24px;
  }

  &__title,
  &__phone,
  &__telegram,
  &__instagram,
  &__mail {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 10px;
    color: var(--white);
    font-family: Tektur;
    font-size: 32px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;

    * {
      cursor: pointer;
    }
  }

  &__phone {
    margin-bottom: 24px;
    font-size: 24px;
    color: var(--main-green);
  }

  &__telegram,
  &__instagram,
  &__mail {
    margin-bottom: 24px;
    color: #969696;
    font-size: 20px;
  }

  &__telegram-icon,
  &__instagram-icon,
  &__mail-icon {
    width: 24px;
    height: 24px;
  } 

  &__telegram-icon {
    background: url('../assets/images/modal-telegram.svg') no-repeat center;
    background-size: contain;
  }

  &__instagram-icon {
    background: url('../assets/images/modal-instagram.svg') no-repeat center;
    background-size: contain;
  }

  &__mail-icon {
    background: url('../assets/images/modal-mail.svg') no-repeat center;
    background-size: contain;
  }

  &__close-button {
    width: 300px;
  }

  &__terms-and-policy-title {
    margin-top: 16px;
    margin-bottom: 16px;
    color: var(--white);
    font-family: Tektur;
    font-size: 18px;
    font-weight: 400;

    &:first-child {
      margin-top: 0;
    }

    &--big {
      font-style: 32px;
      line-height: 32px;
    }
  }

  &__terms-and-policy-paragraph {
    color: var(--text-light-green);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .main {
    &__content {
      width: 100vw;
      max-width: 100vw;
    }
  }
}