.faq {
  padding: 140px 0 0 0;

  &__container {
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
    align-items: flex-start;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 48px;
  }

  &__title {
    margin: 0;
    color: var(--white);
    font-family: Tektur;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__description {
    margin: 0;
    color: var(--text-light-green);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 32px;

  &__header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: .2s ease;

    &:hover {
      color: var(--main-green);
    }
  }

  &__item {

    &--active {
      .accordion__icon {
        transition: .2s ease-out;
        transform: rotate(180deg);
      }
    }
  }

  &__number {
    color: var(--main-green);
    font-size: 18px;
    font-weight: 600;
    min-width: 24px;
  }

  &__question {
    color: var(--text-light-green);
    font-family: Tektur;
    font-size: 18px;
    font-weight: 400;
    transition: .2s ease-out;

    &:hover {
      color: var(--main-green);
      transition: .2s ease-out;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
    margin-left: auto;
    transition: .2s ease;
    flex-shrink: 0;
    background: url('../../../assets/images/faq/arrow.svg') no-repeat center center;
  }

  &__content {
    margin-top: 20px;
  }

  &__answer {
    color: var(--text-light-green);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

@media (max-width: 1200px) {
  .faq {

    &__container {
      gap: 16px;
      max-width: 100vw;
      padding: 0 24px;
      margin: unset;
    }

    &__left {
      gap: 32px;
    }

    &__title {
      font-size: 32px;
    }

    &__description {
      font-size: 16px;
    }
  }
  .accordion {

    &__question {
      font-size: 16px;
    }

    &__answer {
      font-size: 14px;
    }
  }
}

@media (max-width: 1024px) {

}

@media (max-width: 768px) {
  .faq {
    padding: 80px 0 0 0;
    &__container {
      grid-template-columns: 1fr;
      gap: 130px;
    }
  }
}

@media (max-width: 480px) {

}