:host {
  width: 100%;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 196px;
  padding-bottom: 96px;

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    z-index: 2;
    width: 100%;
  }

  &__content {
    flex: 1;
    max-width: 600px;
  }

  &__image {
    flex: 1;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin: 0 0 24px 0;
  }

  &__subtitle {
    margin: 48px 0;
    color: var(--text-light-green);
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    text-decoration: none;
  }

  &__bg-effects {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    pointer-events: none;
  }
}

.title {
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  flex-direction: column;

  * {
    font-family: Tektur;
  }

  &__accent,
  &__main {
    font-size: 80px;
    font-weight: 400;
    white-space: nowrap;
  }

  &__accent {
    color: var(--main-green);
  }

  &__main {
    color: var(--white);
  }
}

.button {
  margin-bottom: 188px;
}

.image-wrapper {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: calc(100% + 154px);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
  }
}

.scroll-indicator {
  display: flex;
  align-items: center;
  gap: 16px;
  cursor: pointer;

  &__icon {
    width: 40px;
    height: 40px;
    background: url('../../../assets/images/banner-scroll-down.svg') no-repeat center center;
  }

  &__text {
    color: var(--gray);
    font-family: Tektur;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 5px;
    transition: .2s ease;
    text-decoration: none;

    &:hover {
      color: var(--main-green);
      transition: .2s ease;
    }
  }
}

@media (max-width: 1200px) {
  .banner {

    &__container {
      gap: 40px;
      padding: 0 24px;
      max-width: 100vw;
      margin: unset;
    }

    &__image {
      max-width: 400px;
    }

    &__subtitle {
      font-size: 18px;
      margin: 32px 0;
    }
  }
  
  .scroll-indicator {
    display: none;
  }

  .image-wrapper {
    width: calc(100% + 24px);
  }
}

@media (max-width: 1024px) {
  .title {
    &__accent,
    &__main {
      font-size: 64px;
    }
  }

  .image-wrapper {
    left: -100px;
  }
}

@media (max-width: 768px) {
  .title {
    &__accent,
    &__main {
      font-size: 40px;
    }
  }

  .banner {
    padding-top: 120px;
    padding-bottom: 48px;

    &__subtitle {
      font-size: 16px;
      margin: 32px 0;
    }
  }

  .button {
    width: 100%;
  }

  .banner {
    
    &__content {
      max-width: unset;
    }
  }

  .image-wrapper {
    left: -150px;
    top: 190px;
  }

  .button--filled {
    width: calc(100vw - 48px);
  }
}

@media (max-width: 480px) {
  .image-wrapper {
    left: -120px;
  }
  .banner {
    padding-bottom: 0;
  }
}